# Importar Bibliotecas

In [84]:
import pandas as pd
import os
import sqlite3

# Caminhos do Banco de Dados

In [85]:
DB_PATH_ear_ons = os.path.join('../DADOS', 'banco_Monitor_Inteligencia_HidroFinanceira_SetorEletrico.db')

def executar_query(sql):
    with sqlite3.connect(DB_PATH_ear_ons) as conexao:
        return pd.read_sql(sql, conexao)

# Leitura dos arquivos

In [86]:
df_ear_ons = executar_query("SELECT * FROM tb_ear_ons")

df_ear_ons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37916 entries, 0 to 37915
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id_subsistema                    37916 non-null  object
 1   nom_subsistema                   37916 non-null  object
 2   ear_data                         37916 non-null  object
 3   ear_max_subsistema               37916 non-null  object
 4   ear_verif_subsistema_mwmes       37916 non-null  object
 5   ear_verif_subsistema_percentual  37916 non-null  object
dtypes: object(6)
memory usage: 1.7+ MB

In [87]:
df_ear_ons.drop('id_subsistema',axis=1, inplace=True)

nomes_novos_ear = {
    'nom_subsistema':'estado',
    'ear_data':'data',
    'ear_max_subsistema':'ear_max',
    'ear_verif_subsistema_mwmes':'ear_mwmes',
    'ear_verif_subsistema_percentual':'ear_percentual',
}
df_ear_ons.rename(columns=nomes_novos_ear,inplace=True)

df_ear_ons

         estado        data          ear_max       ear_mwmes ear_percentual
0      NORDESTE  2000-01-01   49967.00000000  11171.00000000    22.36000061
1         NORTE  2000-01-01   12311.00000000   7656.00000000    62.18999863
2       SUDESTE  2000-01-01  155759.00000000  27853.00000000    17.87999916
3           SUL  2000-01-01   13976.00000000   7094.00000000    50.75999832
4      NORDESTE  2000-01-02   49967.00000000  11395.00000000    22.80999947
...         ...         ...              ...             ...            ...
37911       SUL  2025-12-12        20459.242       16356.028        79.9444
37912  NORDESTE  2025-12-13        51691.226       22783.784        44.0767
37913     NORTE  2025-12-13        15302.396         8403.04        54.9132
37914   SUDESTE  2025-12-13       204615.328       82450.926        40.2956
37915       SUL  2025-12-13        20459.242       16264.159        79.4954

[37916 rows x 5 columns]